/* line 45, ../scss/libs/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 61, ../scss/libs/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 74, ../scss/libs/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 84, ../scss/libs/_normalize.scss */
[hidden], template {
  display: none;
}

/* line 97, ../scss/libs/_normalize.scss */
html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 109, ../scss/libs/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 119, ../scss/libs/_normalize.scss */
body {
  margin: 0;
}

/* line 132, ../scss/libs/_normalize.scss */
a {
  background: transparent;
}
/* line 139, ../scss/libs/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 145, ../scss/libs/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 159, ../scss/libs/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 164, ../scss/libs/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 169, ../scss/libs/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 174, ../scss/libs/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 179, ../scss/libs/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 184, ../scss/libs/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 198, ../scss/libs/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 204, ../scss/libs/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 220, ../scss/libs/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 233, ../scss/libs/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 241, ../scss/libs/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 257, ../scss/libs/_normalize.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 266, ../scss/libs/_normalize.scss */
small {
  font-size: 80%;
}

/* line 273, ../scss/libs/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 281, ../scss/libs/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 285, ../scss/libs/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 337, ../scss/libs/_normalize.scss */
img {
  border: 0;
}

/* line 346, ../scss/libs/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 356, ../scss/libs/_normalize.scss */
figure {
  margin: 0;
}

/* line 373, ../scss/libs/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 384, ../scss/libs/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 398, ../scss/libs/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 413, ../scss/libs/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 422, ../scss/libs/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 435, ../scss/libs/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 448, ../scss/libs/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 457, ../scss/libs/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 466, ../scss/libs/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 477, ../scss/libs/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 485, ../scss/libs/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 493, ../scss/libs/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* line 503, ../scss/libs/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

@viewport {
  width: device-width;
}
/* line 3, ../scss/base/_base.scss */
html {
  background-color: #fff;
  box-sizing: border-box;
  height: 100%;
}

/* line 10, ../scss/base/_base.scss */
*:before, *:after {
  box-sizing: inherit;
}

/* line 14, ../scss/base/_base.scss */
body {
  -webkit-font-smoothing: antialiased;
  color: #484c55;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

/* line 23, ../scss/base/_base.scss */
a {
  background: transparent;
  color: #c69;
  text-decoration: none;
  transition: color .2s;
}

/* line 30, ../scss/base/_base.scss */
img {
  height: auto;
  max-width: 100%;
}

/* line 35, ../scss/base/_base.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: normal;
}

@font-face {
  font-family: "Walkway-Bold";
  src: url('/fonts/../fonts/Walkway-Bold.ttf?1098055766') format('truetype');
}
/* line 16, ../scss/layout/_index.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: 'walkway_boldregular';
  src: url("../fonts/walkway_bold-webfont.woff2") format("woff2"), url("../fonts/walkway_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 67, ../scss/layout/_index.scss */
* {
  box-sizing: border-box;
}

/* line 72, ../scss/layout/_index.scss */
body {
  font-family: walkway_boldregular;
  text-align: center;
}

/* line 77, ../scss/layout/_index.scss */
#home {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  background: #1a237e url("../img/background.png") repeat-x left bottom;
  -moz-background-size: 200%;
  -o-background-size: 200%;
  -webkit-background-size: 200%;
  background-size: 200%;
}
@media (min-width: 544px) {
  /* line 77, ../scss/layout/_index.scss */
  #home {
    -moz-background-size: 160%;
    -o-background-size: 160%;
    -webkit-background-size: 160%;
    background-size: 160%;
  }
}
@media (min-width: 768px) {
  /* line 77, ../scss/layout/_index.scss */
  #home {
    -moz-background-size: 110%;
    -o-background-size: 110%;
    -webkit-background-size: 110%;
    background-size: 110%;
  }
}
/* line 84, ../scss/layout/_index.scss */
#home h1 {
  font-size: 6em;
  color: rgba(255, 255, 255, 0.929);
  line-height: 1.2;
  font-family: walkway_boldregular, sans-serif;
  padding: 0;
  margin: 0;
}
@media (min-width: 1200px) {
  /* line 84, ../scss/layout/_index.scss */
  #home h1 {
    font-size: 6em;
    margin-top: 0em;
  }
}
@media (min-width: 1800px) {
  /* line 84, ../scss/layout/_index.scss */
  #home h1 {
    font-size: 7.5em;
    margin-top: 0.5em;
  }
}
/* line 101, ../scss/layout/_index.scss */
#home h2 {
  color: rgba(255, 255, 255, 0.929);
  line-height: 1.2;
  font-family: walkway_boldregular, sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
@media (min-width: 1200px) {
  /* line 101, ../scss/layout/_index.scss */
  #home h2 {
    font-size: 1.2em;
  }
}

/* line 116, ../scss/layout/_index.scss */
.moon {
  -moz-border-radius: 50% / 50%;
  -webkit-border-radius: 50% 50%;
  border-radius: 50% / 50%;
  background-color: rgba(121, 134, 203, 0.14);
  display: block;
  width: 200px;
  height: 200px;
  position: absolute;
  top: -30px;
  left: -30px;
}

/* line 127, ../scss/layout/_index.scss */
.moon-inner1 {
  -moz-border-radius: 50% / 50%;
  -webkit-border-radius: 50% 50%;
  border-radius: 50% / 50%;
  background-color: rgba(159, 168, 218, 0.24);
  width: 133.33333px;
  height: 133.33333px;
  margin: auto;
  position: absolute;
  top: 30px;
  left: 30px;
}

/* line 138, ../scss/layout/_index.scss */
.moon-inner2 {
  -moz-border-radius: 50% / 50%;
  -webkit-border-radius: 50% 50%;
  border-radius: 50% / 50%;
  background-color: rgba(197, 202, 233, 0.58);
  width: 86.95652px;
  height: 86.95652px;
  margin: auto;
  position: absolute;
  top: 22px;
  left: 22px;
}

/* line 148, ../scss/layout/_index.scss */
.moon-inner3 {
  -moz-border-radius: 50% / 50%;
  -webkit-border-radius: 50% 50%;
  border-radius: 50% / 50%;
  background-color: rgba(232, 234, 246, 0.81);
  width: 52.63158px;
  height: 52.63158px;
  margin: auto;
  position: absolute;
  top: 17px;
  left: 17px;
}

/* line 161, ../scss/layout/_index.scss */
.logo {
  width: 200px;
  height: 250px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  /* line 161, ../scss/layout/_index.scss */
  .logo {
    width: 200px;
  }
}
@media (min-width: 1800px) {
  /* line 161, ../scss/layout/_index.scss */
  .logo {
    width: 300px;
    height: 325px;
  }
}

/* line 175, ../scss/layout/_index.scss */
.wrap-home {
  margin: auto;
}

/* line 185, ../scss/layout/_index.scss */
#weare {
  padding: 0;
  margin: 0;
  background: #e8eaf6 url("../img/river.png") repeat-x bottom center;
  -moz-background-size: 200%;
  -o-background-size: 200%;
  -webkit-background-size: 200%;
  background-size: 200%;
}
@media (min-width: 544px) {
  /* line 185, ../scss/layout/_index.scss */
  #weare {
    -moz-background-size: 160%;
    -o-background-size: 160%;
    -webkit-background-size: 160%;
    background-size: 160%;
  }
}
@media (min-width: 768px) {
  /* line 185, ../scss/layout/_index.scss */
  #weare {
    -moz-background-size: 110%;
    -o-background-size: 110%;
    -webkit-background-size: 110%;
    background-size: 110%;
  }
}
/* line 190, ../scss/layout/_index.scss */
#weare p {
  padding: 1.2em 1em 4em;
  color: #1a237e;
  margin-bottom: 0;
}
@media (min-width: 544px) {
  /* line 190, ../scss/layout/_index.scss */
  #weare p {
    padding: 1.2em 1em 6em;
  }
}
@media (min-width: 1200px) {
  /* line 190, ../scss/layout/_index.scss */
  #weare p {
    font-size: 1.5em;
    padding: 2em 1em 8em;
  }
}

/* line 201, ../scss/layout/_index.scss */
.head-title {
  position: relative;
}
/* line 203, ../scss/layout/_index.scss */
.head-title h3 {
  font-size: 2.1em;
  font-family: walkway_boldregular, sans-serif;
  color: #303f9f;
  text-transform: uppercase;
  line-height: 1.2;
  display: inline-block;
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  /* line 203, ../scss/layout/_index.scss */
  .head-title h3 {
    font-size: 3.1em;
  }
}
/* line 215, ../scss/layout/_index.scss */
.head-title span {
  color: #4956ad;
}
@media (min-width: 1200px) {
  /* line 215, ../scss/layout/_index.scss */
  .head-title span {
    font-size: 1.5em;
  }
}
/* line 222, ../scss/layout/_index.scss */
.head-title :nth-child(2) {
  position: absolute;
  top: 40px;
}
@media (min-width: 1200px) {
  /* line 222, ../scss/layout/_index.scss */
  .head-title :nth-child(2) {
    top: 60px;
  }
}
/* line 229, ../scss/layout/_index.scss */
.head-title h2 {
  font-size: 2.5em;
  font-family: walkway_boldregular, sans-serif;
  color: #3f51b5;
  text-transform: uppercase;
  margin: -10px 0 0;
}
@media (min-width: 1200px) {
  /* line 229, ../scss/layout/_index.scss */
  .head-title h2 {
    font-size: 3.6em;
  }
}

/* line 244, ../scss/layout/_index.scss */
#wedo {
  background: #3f51b5 url("../img/white-field.png") repeat-x bottom center;
  -moz-background-size: 200%;
  -o-background-size: 200%;
  -webkit-background-size: 200%;
  background-size: 200%;
  color: #fff;
  position: relative;
}
@media (min-width: 544px) {
  /* line 244, ../scss/layout/_index.scss */
  #wedo {
    -moz-background-size: 160%;
    -o-background-size: 160%;
    -webkit-background-size: 160%;
    background-size: 160%;
  }
}
@media (min-width: 768px) {
  /* line 244, ../scss/layout/_index.scss */
  #wedo {
    -moz-background-size: 110%;
    -o-background-size: 110%;
    -webkit-background-size: 110%;
    background-size: 110%;
  }
}
/* line 249, ../scss/layout/_index.scss */
#wedo h2 {
  font-size: 2.5em;
  font-family: walkway_boldregular, sans-serif;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  padding-top: 1em;
}
@media (min-width: 1200px) {
  /* line 249, ../scss/layout/_index.scss */
  #wedo h2 {
    font-size: 3.2em;
    padding-top: 1.5em;
  }
}
/* line 258, ../scss/layout/_index.scss */
#wedo p {
  padding: 1.2em 1em 0em;
}
@media (min-width: 1200px) {
  /* line 258, ../scss/layout/_index.scss */
  #wedo p {
    font-size: 1.5em;
    padding: 3em 1em 1em;
  }
}

/* line 264, ../scss/layout/_index.scss */
.v-sep {
  padding: 2em 0 7em;
}
@media (min-width: 454px) {
  /* line 264, ../scss/layout/_index.scss */
  .v-sep {
    padding: 2em 0 10em;
  }
}
@media (min-width: 1200px) {
  /* line 264, ../scss/layout/_index.scss */
  .v-sep {
    padding: 4em 0 18em;
  }
}
/* line 272, ../scss/layout/_index.scss */
.v-sep span {
  font-size: 1.5em;
}
/* line 275, ../scss/layout/_index.scss */
.v-sep :last-child {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  display: block;
  margin-top: -20px;
}

/* line 288, ../scss/layout/_index.scss */
#whyitmatters {
  background: url("../img/blue-field.png") repeat-x bottom center;
  -moz-background-size: 200%;
  -o-background-size: 200%;
  -webkit-background-size: 200%;
  background-size: 200%;
}
@media (min-width: 544px) {
  /* line 288, ../scss/layout/_index.scss */
  #whyitmatters {
    -moz-background-size: 160%;
    -o-background-size: 160%;
    -webkit-background-size: 160%;
    background-size: 160%;
  }
}
@media (min-width: 768px) {
  /* line 288, ../scss/layout/_index.scss */
  #whyitmatters {
    -moz-background-size: 110%;
    -o-background-size: 110%;
    -webkit-background-size: 110%;
    background-size: 110%;
  }
}
/* line 291, ../scss/layout/_index.scss */
#whyitmatters h2 {
  font-size: 2.5em;
  font-family: walkway_boldregular, sans-serif;
  color: #3f51b5;
  text-transform: uppercase;
}
/* line 294, ../scss/layout/_index.scss */
#whyitmatters p {
  padding: 0.4em 1em;
  color: #1a237e;
  margin: 0 auto;
}
@media (min-width: 544px) {
  /* line 294, ../scss/layout/_index.scss */
  #whyitmatters p {
    padding: 1.2em 1em 2em;
  }
}
@media (min-width: 1200px) {
  /* line 294, ../scss/layout/_index.scss */
  #whyitmatters p {
    font-size: 1.4em;
    padding: 0.2em;
  }
}

/* line 304, ../scss/layout/_index.scss */
.glide__wrapper {
  margin-top: 4em;
}

/* line 307, ../scss/layout/_index.scss */
.circle {
  list-style: none;
  padding: 0;
  width: 100%;
}
/* line 311, ../scss/layout/_index.scss */
.circle .circle__slide {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  margin: 0  1em;
}
/* line 316, ../scss/layout/_index.scss */
.circle .circle__slide p {
  padding: 0 !important;
  font-size: 1.2rem !important;
  margin: 1em auto !important;
}

/* line 323, ../scss/layout/_index.scss */
.round {
  margin: auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #3f51b5;
  padding: 2em;
}
/* line 330, ../scss/layout/_index.scss */
.round h2 {
  color: #c5cae9 !important;
  font-size: 4rem !important;
  margin-bottom: 1rem !important;
}
/* line 335, ../scss/layout/_index.scss */
.round h3 {
  color: #8c9eff !important;
}

/* line 339, ../scss/layout/_index.scss */
.tiny-right {
  font-size: 0.8rem !important;
  padding: 1em !important;
  text-align: right;
}

/* line 347, ../scss/layout/_index.scss */
.col-50 {
  width: 100%;
  padding: 1em;
}
/* line 350, ../scss/layout/_index.scss */
.col-50 h3 {
  font-size: 2.2em;
  font-family: walkway_boldregular, sans-serif;
  color: #3f51b5;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  /* line 347, ../scss/layout/_index.scss */
  .col-50 {
    width: 50%;
    float: left;
  }
}

/* line 359, ../scss/layout/_index.scss */
.vw-sep {
  padding: 2em 0 6em;
}
@media (min-width: 1200px) {
  /* line 359, ../scss/layout/_index.scss */
  .vw-sep {
    padding: 2em 0 12em;
  }
}
/* line 364, ../scss/layout/_index.scss */
.vw-sep span {
  font-size: 1.5em;
  color: #5c6bc0;
}
/* line 368, ../scss/layout/_index.scss */
.vw-sep :last-child {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  display: block;
  margin-top: -25px;
  color: #c5cae9;
}

/* line 382, ../scss/layout/_index.scss */
#contactus {
  background: #1a237e;
  height: 100vh;
  padding-top: 2em;
}
@media (min-width: 600px) {
  /* line 382, ../scss/layout/_index.scss */
  #contactus {
    height: 60vh;
  }
}
@media (min-width: 1200px) {
  /* line 382, ../scss/layout/_index.scss */
  #contactus {
    height: 80vh;
  }
}
@media (min-width: 1600px) {
  /* line 382, ../scss/layout/_index.scss */
  #contactus {
    height: 60vh;
  }
}
/* line 395, ../scss/layout/_index.scss */
#contactus h2 {
  font-size: 2.5em;
  font-family: walkway_boldregular, sans-serif;
  color: #fff;
  text-transform: uppercase;
  margin-top: 0;
}
/* line 400, ../scss/layout/_index.scss */
#contactus fieldset {
  border: 0;
  margin: 0;
  padding: 0.5em 0;
}
/* line 405, ../scss/layout/_index.scss */
#contactus input, #contactus textarea {
  padding: 0.7em;
  width: 90%;
  border: 0;
  margin-bottom: 0.2em;
}

/* line 415, ../scss/layout/_index.scss */
button.btn-send {
  padding: 0.7em;
  width: 90%;
  border: 0;
  margin-bottom: 0.2em;
  background-color: #3f51b5;
  color: white;
  text-transform: uppercase;
}
/* line 422, ../scss/layout/_index.scss */
button.btn-send:hover {
  background-color: #3d5afe;
  color: white;
}

/* line 426, ../scss/layout/_index.scss */
.so-icons {
  font-size: 1.8em;
  border: 3px solid #fff;
  color: #1a237e;
  background-color: #e8eaf6;
  margin-right: 0.7em;
  padding: 0.3em;
}

/* line 434, ../scss/layout/_index.scss */
.fa-facebook {
  padding: 0.3em 0.45em;
}

/* line 437, ../scss/layout/_index.scss */
.fa-linkedin {
  margin-right: 0;
}

/* line 440, ../scss/layout/_index.scss */
.social-icon {
  width: 100%;
  padding-top: 2em;
  text-align: center;
}

/* line 446, ../scss/layout/_index.scss */
footer {
  width: 100%;
  text-align: center;
  background: #1a237e url("../img/footer-back.png") no-repeat bottom center;
  -moz-background-size: 200%;
  -o-background-size: 200%;
  -webkit-background-size: 200%;
  background-size: 200%;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 544px) {
  /* line 446, ../scss/layout/_index.scss */
  footer {
    -moz-background-size: 160%;
    -o-background-size: 160%;
    -webkit-background-size: 160%;
    background-size: 160%;
  }
}
@media (min-width: 768px) {
  /* line 446, ../scss/layout/_index.scss */
  footer {
    -moz-background-size: 110%;
    -o-background-size: 110%;
    -webkit-background-size: 110%;
    background-size: 110%;
  }
}
@media (min-width: 600px) {
  /* line 446, ../scss/layout/_index.scss */
  footer {
    height: 40vh;
  }
}
/* line 460, ../scss/layout/_index.scss */
footer h1 {
  font-size: 4em;
  font-family: walkway_boldregular, sans-serif;
  color: rgba(255, 255, 255, 0.929);
  text-transform: uppercase;
  line-height: 1.2;
  padding: 0;
  margin: 0;
}
/* line 467, ../scss/layout/_index.scss */
footer h2 {
  font-size: 0.8em;
  font-family: walkway_boldregular, sans-serif;
  color: rgba(255, 255, 255, 0.929);
  text-transform: uppercase;
  line-height: 1.2;
  padding: 0;
  margin: 0;
}

/* line 475, ../scss/layout/_index.scss */
.sr-only {
  display: none;
  text-indent: -99999px;
}

/* line 480, ../scss/layout/_index.scss */
.inner-container {
  max-width: 1200px;
  margin: auto;
}

/* line 485, ../scss/layout/_index.scss */
a {
  text-decoration: none;
  color: #3f51b5;
}
/* line 487, ../scss/layout/_index.scss */
a:hover {
  text-decoration: none;
  color: #3d5afe;
}

/* line 492, ../scss/layout/_index.scss */
.hidden {
  opacity: 0;
}

/* line 495, ../scss/layout/_index.scss */
.visible {
  opacity: 1;
}

/* line 498, ../scss/layout/_index.scss */
.no-js #loader {
  display: none;
}

/* line 499, ../scss/layout/_index.scss */
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

/* line 500, ../scss/layout/_index.scss */
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../img/loading.gif) center no-repeat #fff;
}

/* line 510, ../scss/layout/_index.scss */
.alert-success {
  background-color: #4caf50;
  border-color: #43a047;
  color: #e8f5e9;
}

/* line 516, ../scss/layout/_index.scss */
.alert-danger {
  background-color: #f44336;
  border-color: #e53935;
  color: #ffebee;
}

/* line 521, ../scss/layout/_index.scss */
.alert {
  padding: 15px;
  margin: auto;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  width: 90%;
}

/* line 530, ../scss/layout/_index.scss */
.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
}

/* line 540, ../scss/layout/_index.scss */
button.close {
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
}

@media print {
  /* line 8, ../scss/states/_print.scss */
  *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 16, ../scss/states/_print.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 21, ../scss/states/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 25, ../scss/states/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 32, ../scss/states/_print.scss */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  /* line 37, ../scss/states/_print.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 46, ../scss/states/_print.scss */
  thead {
    display: table-header-group;
  }

  /* line 48, ../scss/states/_print.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 51, ../scss/states/_print.scss */
  img {
    max-width: 100% !important;
  }

  /* line 53, ../scss/states/_print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 60, ../scss/states/_print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
